<%= simple_nested_form_for(@trade) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %> </br>
    <%= f.association :jobs, as: :check_boxes %> </br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
