<p id="notice"><%= notice %></p>

<p>
  <b>Trade:</b>
  <%= @trade.name %>
</p>

<ul>
  <% @trade.jobs.each do |job| %>
  <li>
    <%= job.name %> </br> 
    <%= link_to 'edit question options', edit_trade_path(@trade) %></br>
  </li> </br>
  <% end %>
</ul>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
